<template>
  <div class="main">
    <page-header></page-header>
    <catalog></catalog>
    <page-footer class="main--footer"></page-footer>
  </div>
</template>

<script>
import Catalog from '../components/Catalog'
import PageFooter from '../components/PageFooter'
import PageHeader from '../components/PageHeader'
export default {
  name: 'main',
  components: {
    Catalog,
    PageFooter,
    PageHeader
  },
  data() {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.main--footer {
  background-color: aliceblue;
  position: fixed;
  z-index: auto;
  width: 100%;
  bottom: 0;
  border-radius: 2px;
}
</style>
