<template>
  <div class="catalog">
  <Alert message="Please input the ISBN" v-if="showAlert1"></Alert>
  <Alert message="Sorry ISBN is invalid. The book is not found. Please try again" v-if="book == 'Invalid ISBN' " ></Alert>

    <b-table :data="bookData" default-sort="isbn" v-cloak>

      <b-table-column field="isbn" label="ISBN" width="20" sortable>
        <input class="input is-success" type="text" placeholder="isbn" v-model="isbn" v-on:keyup.enter="search()">

      </b-table-column>

      <b-table-column field="title" label="Title" width="40" sortable>
        <span v-if="searchMe">{{ book.title ?book.title:'No information'}}</span>
      </b-table-column>

      <b-table-column field="authorname" label="Author Name" sortable width="40">
        <span v-if="searchMe">{{book.authors ? Object.keys(book.authors.primary)[0].split(",")[0]+ " "+Object.keys(book.authors.primary)[0].split(",")[1] : 'No information'}}</span>
      </b-table-column>

      <b-table-column field="year" label="Year" sortable v-show="book" width="10">
        <span  :class="{'tag is-success':book.year }">
        <span v-if="searchMe"> {{ book.year && isbn!=='' ?book.year :'No information '}}</span>
        </span>
      </b-table-column>

      <b-table-column field="publisher" label="Publisher" sortable width="30">
        <span v-if="searchMe"> {{book.publishers ?book.publishers[0]:'No information'}}</span>
      </b-table-column>

    </b-table>

    <!--search button-->
    <div class="control center">
      <button class="button is-primary" @click="search()">Search</button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Alert from './Alert'
import axios from 'axios'


export default {
  name: 'catalog',
  components: {
    Alert
  },
  data() {
    return {
      bookData: [
        { "isbn": 1, "title": "", "authorname": { "first_name": "", "last_name": "" }, "year": "", "publisher": "" },


      ],
      isbn: '',

      yearTag: false,
      searchMe: false,
      noBook: '',

      showAlert1:false,
      showAlert2:false

    }
  },
  computed:{
    book(){

      if(this.$store.getters.listBook.resultCount >0){
        return this.$store.state.book.records[0]
      } else {
        return 'Invalid ISBN'
      }
    }

  },

  methods: {

    search() {




      this.yearTag = true

      if(this.isbn == ''){
        this.showAlert1 = true
        this.searchMe = true
      } else {
        this.showAlert1 = false
        this.$store.dispatch('LOAD_BOOK',this.isbn)
        this.searchMe = true


      }
    }
  },


}
</script>

<style scoped>
.center {
  text-align: center;
}

.warn {
  color: grey;
}
</style>


