<template>
  <section class="hero is-primary is-medium">
    <!-- Hero header: will stick at the top -->
    <div class="hero-head">
      <header class="nav">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item">
              {{title}}
            </a>
          </div>
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div class="nav-right nav-menu">
            <a class="nav-item is-active" href="https://www.booky.fi/" target="_blank">
              Home
            </a>

            <a class="nav-item" href="https://bitbucket.org/hiennguyen711/cataloging-book" target="_blank">
              Documentation
            </a>
            <span class="nav-item">
              <a class="button is-primary is-inverted">
                <span class="icon">
                  <i class="fa fa-book"></i>
                </span>
                <span>{{company}}</span>
              </a>
            </span>
          </div>
        </div>
      </header>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          {{title}}
        </h1>
        <h2 class="subtitle">
          from {{company}}
        </h2>
      </div>
    </div>

  </section>
</template>

<script>

export default {
  name: 'pageheader',

  data() {
    return {
      title: 'CATALOGING BOOK',
      company: 'Booky.fi'

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
