<template>
  <div class="page--footer">
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Cataloging Book</strong> by
            <a href="">booky.fi</a>. Cataloging Book
            <a href="https://www.booky.fi/">Booky.fi</a>
          </p>
          <p>
            <a class="icon" href="https://www.booky.fi">
              <i class="fa fa-book"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>

  </div>
</template>

<script>

export default {
  name: 'pagefooter',

  data() {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
